@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');/**Import de fonts diferentes*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');/**Import de Icons diferentes*/
*{/**Asterisco aplica à todas as imagens da página*/
    margin: 0;/**retira as margens de todos os elementos do site*/
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;/**vh: view height - Altura da visualição*/
    overflow: hidden;/**Desabilitar o Overflow evita que o cabeçalho passar o tamanho da janela gerando barra de rolagem horizontal*/
    position: relative;/**Permite colocar o banner (texto) em qualquer posição dentro do header*/
}

.img-wrapper{/**Encapsulamento - Envelopamento*/
    /**ponto significa que está apontando para uma classe*/
    /**esta classe .img.wrapper está dentro do header e vai ocupar 100% da largura e da altura*/
    width: 100%;
    height: 100%;
    overflow: hidden;/**Desabilitar o Overflow evita que o cabeçalho passar o tamanho da janela gerando barra de rolagem horizontal*/
    background-color: rgba(0,0,0,0.8);
}
.img-wrapper img{/**Usa a classe ao inves da ID para formatar a imagem*/
    width: 100%;/**Obriga a imagem à usar a mesma formatação do componente Pai que é a classe img.wrapper*/
    height: 100%;
    object-fit: cover;/**Como a imagem não está na página como elemento e sim envelopada no img-wrapper e o object-fit vai especificar com este elemento vai ser colocado na página. Cover vai cobrir totalmente a div com a imagem*/
    opacity: 0.5;
    animation: zoom 25s timing-function delay iteration-count direction fill-mode;
    /**name duration timing-function delay iteration-count direction fill-mode;*/
}
@keyframes zoom{/**São quadros - chaves da animação - Faz a primeira e último quadro e software faz o restante*/
    0%{/**Quadro inicial*/
        transform: scale(1.5);/**Vai dar um zoom no background*/
    }
    100%{
        transform: scale(1);/**Imagem volta para 100%*/
    }
}
.banner {
    position: absolute;/**Posiciona o texto*/
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;/**Se usar tamanho em pixel usuário não pode aumentar o tamanho*//**Pode usar (1em) ou (1rem) que é relativa vai mudar conforme usuário alterar no site*/
    font-family: "Josefin Slab" , serif;/**Josefin Slab baixado so site e está acima*/
    font-weight: 200;/**Diminuir o negrito*/
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);/**Propriedades: Distancia à direita(.2rem), distancia abaixo(.4rem), blur(2px) (sombra embaçada)  e cor da fonte(rgba(0,0,0,.4)*/
    line-height: 3.5rem;/**Espaçamento entre as linhas do texto*/
    margin-bottom: 2rem;/**Espaçamento entre o texto abaixo*/
}
.banner p{
    font-family: "Josefin Slab" , serif;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;/**Espaçamento para o botão abaixo*/
}
.banner button{
    font-family: "Muli", serif;
    color: #ffffff;
    /**font-size: 1.2rem; - Aumentar o tamanho da fonte*/
    text-transform: uppercase;/**Transformar em letras maiúsculas*/
    letter-spacing: .1rem;/**Espaço entre as letras*/ 
    background-color: purple;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /**padding-top: 1rem; - Colocar margem interna no botão
    padding-bottom: 1rem;
    padding-left: 2rem;*/
    padding: 1rem 3rem;/**1rem equivale à 16pixels(16px)*/
    border: none;
    border-radius: 5px;/**Arrendodamento (Suavidade) da borda*/
    cursor: pointer;/**Indica ao usuário uma ação no botão*/
}
.banner button:hover{/**Pseudo classe hover indica animação*/
    opacity: 0.8;/**Indica interação (dá uma apagadinha no botão)*/
    color: #000;/**Muda a cor da fonte para preto*/


